
<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>HTML5 Boilerplate: The web&#8217;s most popular front-end template</title>
        <meta name="description" content="HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. Spend more time developing and less time reinventing the wheel.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">

        <!-- smoosh -->
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- endbuild -->
        <!-- endsmoosh -->

    </head>
    <body>
        hihihihihihihihihihi
        <script src="//localhost:35729/livereload.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io.connect();
          socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
          });
        </script>
    </body>
</html>