html
	head
		link( rel="stylesheet" type="text/css" href="css/main.css")
		script( language="javascript" type="text/javascript" src="js/jquery-2.1.3.min.js")
		script( language="javascript" type="text/javascript" src="js/p5.js")
		script( language="javascript" type="text/javascript" src="js/p5.dom.js")
		script( language="javascript" type="text/javascript" src="js/equations.js")
		script( language="javascript" type="text/javascript" src="js/Tot.js")
		script( language="javascript" type="text/javascript" src="js/TotSystem.js")
		script( language="javascript" type="text/javascript" src="js/sketch.js")
	body
		div( class="main-container")
			div( id="sketch-container" class="sketch-container")