
doctype html
html(lang="en-us")
    head
        meta(charset="utf-8")
        title= title
        meta(name="description", content="HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. Spend more time developing and less time reinventing the wheel.")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700")

        link(rel="stylesheet", href="/css/index.css")
        script(language="javascript", type="text/javascript", src="js/jquery-2.1.3.min.js")
        script(type='text/javascript').
            $(document).ready(function(){
            });
        script(type='text/javascript'). 
            var session = !{JSON.stringify(session)};
            console.log(session.hue, session.confidence);
    body
        div(class="main-container")
            h1(class="hello") Sketch
            p= session.hue
            p= session.confidence
            div(class="form-container")
                label(for="inputHue") Hue
                input(id="input" name="inputHue" type="text")
                label(for="inputConfidence" Confidence)
                input(id="input" name="inputConfidence" type="text")
                button(type="submit" id="submit") Click
            div(id="sketch-container" class="sketch-container") 