html,
body {
	background-color: #000;
	color: #bac;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	height: 100%;
	margin: 0;
	text-transform: uppercase;
	padding: 0;
	position: relative;
	width: 100%;
}

/*Welcome page*/
.hello {
	animation-delay: 1.5s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: slidein;
	color: #fff;
	font-size: 72px;
	font-weight: 300;
	margin: 0;
	opacity: 0;
	padding-top: 3em;
	text-align: center;
}

@keyframes slidein {
	0% {
		opacity: 0;
		padding-top: 3em;
	}
	100% {
		opacity: 1;
		padding-top: 2em;
	}
}

.question {
	animation-delay: 1.5s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: slidein;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin: 0;
	opacity: 0;
	padding-top: 3em;
	text-align: center;
}

.form-container {
	animation-delay: 2s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: slidein;
	display: block;
	margin: 0 auto;
	opacity: 0;
	padding-top: 3em;
	text-align: center;
	width: 40%;

	.form-label,
	.form-input {
		display: block;
	}
}

.form-label {
	line-height: 1.75em;
	padding-bottom: 5px;
}

.form-input {
	margin: 0 auto 1em;
}

.form-button {
	background-color: #bac;
	border: none;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 16px;
	margin-top: 1em;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

input[type='range'].hue {
	-webkit-appearance: none;
	background-color: hsl(180, 100%, 50%);
	border-radius: 10px;

	&:focus {
		outline: none;
	}
}
